<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>
<form action="#" th:action="@{create}" th:object="${transferredPoint}" method="post">
    <label for="checkingPeer">checking peer</label>
    <input type="text" th:field="*{checkingPeer}" id="checkingPeer" placeholder="checking peer">
    <label for="checkedPeer">checked peer</label>
    <input type="text" th:field="*{checkedPeer}" id="checkedPeer" placeholder="checked peer">
    <label for="pointsAmount">points amount</label>
    <input type="text" th:field="*{pointsAmount}" id="pointsAmount" placeholder="points amount">
    <input type="submit" value="Add">
</form>
</main>
<div th:replace="footer.html"></div>
</body>
</html>