<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>
    <form action="#" th:action="@{'update' + ${transferredPoint.id}}" th:object="${transferredPoint}" method="post">
    <label for="id">id</label>
        <input readonly type="text" th:field="*{id}" id="id" placeholder="id">
        <label for="checkingpeer">checking peer</label>
        <input type="text" th:field="*{checkingpeer}" id="checkingpeer" placeholder="checking peer">
        <label for="checkedpeer">checked peer</label>
        <input type="text" th:field="*{checkedpeer}" id="checkedpeer" placeholder="checked peer">
        <label for="pointsAmount">points amount</label>
        <input type="text" th:field="*{pointsAmount}" id="pointsAmount" placeholder="points amount">
        <input type="submit" value="Save">
    </form>
</main>
<div th:replace="footer.html"></div>
</body>
</html>