<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>
<form action="#" th:action="@{create}" th:object="${timeTracker}" method="post">
    <label for="peer">peer</label>
    <input type="text" th:field="*{peer}" id="peer" placeholder="peer">
    <label for="date">date</label>
    <input type="date" th:field="*{date}" id="date" placeholder="date">
    <label for="time">time</label>
    <input type="text" th:field="*{time}" id="time" placeholder="HH:mm:ss">
    <label for="state">state</label>
    <input type="text" th:field="*{state}" id="state" placeholder="state">
    <input type="submit" value="Add timeTracker">
</form>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
</main>
<div th:replace="footer.html"></div>
</body>
</html>