<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>
    <form action="#" th:action="@{'update' + ${timeTracker.id}}" th:object="${timeTracker}" method="post">
    <label for="id">id</label>
        <input readonly type="text" th:field="*{id}" id="id" placeholder="id">
        <label for="peer">peer</label>
        <input type="text" th:field="*{peer}" id="peer" placeholder="peer">
        <label for="date">date</label>
        <input type="date" th:field="*{date}" id="date" placeholder="date">
        <label for="time">time</label>
        <input type="text" th:field="*{time}" id="time" placeholder="HH:mm:ss">
        <label for="state">state</label>
        <input type="text" th:field="*{state}" id="state" placeholder="state">
        <input type="submit" value="Save">
    </form>
</main>
</body>
</html>