<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>

    <div class="table-links">
        <p><a href="/Peer">Show Peers table</a></p>
        <p><a href="/Check">Show Check table</a></p>
        <p><a href="/Friend">Show Friends table</a></p>
        <p><a href="/P2P">Show P2P table</a></p>
        <p><a href="/Recommendation">Show Recommendations table</a></p>
        <p><a href="/Task">Show Tasks table</a></p>
        <p><a href="/TimeTracker">Show Time Tracking table</a></p>
        <p><a href="/TransferredPoint">Show Transferred Points table</a></p>
        <p><a href="/Verter">Show Verter table</a></p>
        <p><a href="/Xp">Show XP table</a></p>
    </div>
</main>
<div th:replace="footer.html"></div>
</body>
</html>
