<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>

    <p><a href="/peer-list">Show Peers table</a></p>
    <p><a href="/check-list">Show Check table</a></p>
    <p><a href="/friend-list">Show Friends table</a></p>
    <p><a href="/p2p-list">Show P2P table</a></p>
    <p><a href="/recommendation-list">Show Recommendations table</a></p>
    <p><a href="/task-list">Show Tasks table</a></p>
    <p><a href="/timeTracker-list">Show Time Tracking table</a></p>
    <p><a href="/transferredPoint-list">Show Transferred Points table</a></p>
    <p><a href="/verter-list">Show Verter table</a></p>
    <p><a href="/xp-list">Show XP table</a></p>
</main>
<div th:replace="footer.html"></div>
</body>
</html>
