<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        function confirmDelete() {
            return confirm('Вы уверены, что хотите удалить запись?');
        }
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="header.html"></div>
<main>
    <h1 th:text="${tableName}">  </h1>
    <table>
        <thead>
        <tr>
            <th th:each="columnName : ${columnNames}" th:text="${columnName}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${entities}">
            <td th:each="columnName : ${columnNames}" th:text="${entity[columnName]}"></td>
            <td>
                <a th:href="@{'/' + ${tableName} + '/delete/' + ${entity[columnNames[0]]}}"
                   onclick="return confirmDelete()">Удалить</a>
            </td>
            <td><a th:href="@{'/' + ${tableName} + '/update/' + ${entity[columnNames[0]]}}">Редактировать</a></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{'/' + ${tableName} + '/create'}">Добавить</a></p>
</main>
<div th:replace="footer.html"></div>
</body>
</html>