<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info21</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
</header>
<main>
    <h1>О себе</h1>
    <p>Этот проект реализован студентом Школы 21 - Дариной (comedial)</p>
</main>
<div th:replace="footer.html"></div>
</body>
</html>
