<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>
    <form action="#" th:action="@{/execute-query}" method="post">
        <label for="sqlQuery">Введите SQL запрос:</label><br>
        <textarea id="sqlQuery" name="sqlQuery" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Выполнить запрос">
    </form>
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${queryResult}">
        <h2>Результаты запроса:</h2>
        <table>
            <thead>
            <tr>
                <!-- Вывод заголовков столбцов -->
                <th th:each="columnName : ${columnNames}" th:text="${columnName}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${queryResult}">
                <!-- Вывод данных из результата запроса -->
                <td th:each="value : ${row}" th:text="${value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
