<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>
<form action="#" th:action="@{create}" th:object="${xp}" method="post">
    <label for="check_id">check_id</label>
    <input type="text" th:field="*{check_id}" id="check_id" placeholder="check_id">
    <label for="xpAmount">xp amount</label>
    <input type="text" th:field="*{xpAmount}" id="xpAmount" placeholder="xp amount">
    <input type="submit" value="Add">
</form>
</main>
<div th:replace="footer.html"></div>
</body>
</html>