<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="header.html"></div>
<main>
<form action="#" th:action="@{create}" th:object="${friend}" method="post">
    <label for="peer1">peer1</label>
    <input type="text" th:field="*{peer1}" id="peer1" placeholder="peer1">
    <label for="peer2">peer2</label>
    <input type="text" th:field="*{peer2}" id="peer2" placeholder="peer2">
    <input type="submit" value="Add friend">
</form>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
</main>
</body>
</html>