<configuration>

    <property name="LOG_DIR" value="logs" />
    <timestamp key="myTimestamp" datePattern="dd-MM-yy-hh-mm-ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/logs_${myTimestamp}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>
